{%- extends "base.html" %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block css %}
<link href="{{url_for('static', filename='assets/lib/loaders.css/loaders.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
<link href="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/css/theme.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
    {%- endif %}
    {%- endwith %}
<main class="main min-vh-100" id="top">

  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" id="page-404">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0 order-lg-2">
          <div class="sticky-top vh-lg-100 py-9">
            <div class="bg-holder" style="background-image:url({{url_for('static', filename='assets/img/404.jpg') }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-left","delay":0.4}'></div>
            <!--/.bg-holder-->
          </div>
        </div>
        <div class="col-lg-6 bg-white py-6">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-lg-8">
              <h1 class="display-4 fs-2 fs-lg-3 fs-xl-4"><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">Trying to get</span></span><span class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">where you want</span></span>
                <span
                  class="d-block overflow-hidden pb-1"><span class="d-inline-block" data-zanim-xs='{"delay":0.4}' data-zanim-trigger="scroll">to go?</span></span>
              </h1>
              <div class="overflow-hidden">
                <p class="fs-1 mt-4" data-zanim-xs='{"delay":0.5}' data-zanim-trigger="scroll">This page isn't it.</p>
              </div>
              <div class="overflow-hidden">
                <div data-zanim-xs='{"delay":0.6}' data-zanim-trigger="scroll">
                  <a class="btn btn-outline-dark mt-6 mb-1" href="{{url_for('home')}}">take me home</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

</main>
{% endblock %}

{% block javascript %}
    <script src="{{url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/loaders.css/loaders.css.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/stickyfill.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/is_js/is.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/jtap/jquery.tap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/rellax.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js') }}"></script>
{% endblock %}