<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Flask App | 404 Error</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <div class="row">
            <div class="col-sm-12">
                <h1>500</h1>
                <h3 class="font-bold">Internal Server Error</h3>

                <div class="error-desc">
                    The server encountered something unexpected that didn't allow it to complete the request. We apologize.
                    You can go back to your home page:
                </div>
            </div>
            <div class="col-sm-12">
                <br>
                <a href="{{url_for('home')}}" class="btn btn-primary btn-lg">Return Home</a>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>