<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Lazerhawk Tools</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='assets/img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='assets/img/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='assets/img/favicons/favicon-16x16.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='assets/img/favicons/favicon.ico') }}">
    <link rel="manifest" href="{{url_for('static', filename='assets/img/favicons/manifest.json') }}">
    <meta name="msapplication-TileImage" content="{{url_for('static', filename='assets/img/favicons/mstile-150x150.png') }}">
    <meta name="theme-color" content="#ffffff">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146043298-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143352465-2');
    </script>
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    {% block css %} {% endblock %}
  </head>


  <body class="has-sidemenu overflow-hidden-x">

    <!--===============================================-->
    <!--    Fancynav-->
    <!--===============================================-->
    <nav class="fancynavbar" data-zanim-lg='{"from":{"opacity":1,"x":70},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}' data-zanim-xs='{"from":{"opacity":1,"y":-43},"to":{"opacity":1,"y":0},"ease":"CubicBezier","duration":0.8,"delay":0.3}'
      data-zanim-trigger="scroll" data-exclusive="true">
      <div class="fancynavbar-togglerbar bg-black">
        <a class="fancynavbar-brand" href="{{url_for('home') }}">
          <img class="fancynavbar-brand-img" src="{{url_for('static', filename='assets/img/logo-sparrow-invert.svg') }}" alt="" width="30" height="30" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll"
          />
          <!--You can use icon or text logo as well-->
          <!--<span class='fab fa-superpowers fs-3'></span>-->
          <!--<span class='logo-sparrow'>S</span>--></a>
        <div class="fancynavbar-toggler">
          <svg class="fancynavbar-toggler-icon" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg" data-zanim-lg='{"from":{"opacity":0,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.5}' data-zanim-trigger="scroll">
            <path id="path-top" d="M20,25c0,0,22,0,30,0c16,0,18.89,40.71-.15,21.75C38.7,35.65,19.9,16.8,19.9,16.8"></path>
            <path id="path-middle" d="M20,32h30"></path>
            <path id="path-bottom" d="M19.9,46.98c0,0,18.8-18.85,29.95-29.95C68.89-1.92,66,38.78,50,38.78c-8,0-30,0-30,0"></path>
          </svg>
        </div>
        <div class="fancynavbar-addon" data-zanim-lg='{"from":{"opacity":1,"x":45},"to":{"opacity":1,"x":0},"ease":"CubicBezier","duration":0.8,"delay":0.4}' data-zanim-trigger="scroll">
          <a class="fancynavbar-addon-item" href="https://twitter.com/lazerhawk05"><span class="fab fa-twitter"></span></a>
          <a class="fancynavbar-addon-item" href="https://twitch.tv/lazerhawk05"><span class="fab fa-twitch"></span></a>
        </div>
      </div>
      <div class="fancynavbar-collapse">
        <ul class="fancynavbar-nav">
          <li class="fancynav-item">
            <a class="fancynav-link" href="{{url_for('home') }}"><span class="fancynav-link-content">Home</span></a>
          </li>

            {% if 'username' in session %}
              <li class="fancynav-item">
                <a class="fancynav-link" href="{{url_for('logout') }}"><span class="fancynav-link-content">Sign Out</span></a>
              </li>
            {% else %}
              <li class="fancynav-item">
                <a class="fancynav-link" href="{{url_for('register') }}"><span class="fancynav-link-content">Register</span></a>
              </li>
              <li class="fancynav-item">
                <a class="fancynav-link" href="{{url_for('login') }}"><span class="fancynav-link-content">Sign In</span></a>
              </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--===============================================-->
    <!--    End of Fancynav-->
    <!--===============================================-->

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    {% block content %} {% endblock %}
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!--===============================================-->
    <!--    Footer-->
    <!--===============================================-->
    <footer class="footer bg-black text-600 py-4 text-sans-serif text-center overflow-hidden" data-zanim-timeline="{}" data-zanim-trigger="scroll">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 order-lg-2">
            <a class="indicator indicator-up" href="#top" data-fancyscroll="data-fancyscroll"><span class="indicator-arrow indicator-arrow-one" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":0.9}'></span><span class="indicator-arrow indicator-arrow-two" data-zanim-xs='{"from":{"opacity":0,"y":15},"to":{"opacity":1,"y":-5,"scale":1},"ease":"Back.easeOut","duration":0.4,"delay":1.05}'></span></a>
          </div>
          <div class="col-lg-4 text-lg-left mt-4 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Copyright &copy; 2018 Sparrow&trade; inc.</p>
          </div>
          <div class="col-lg-4 text-lg-right order-lg-2 mt-2 mt-lg-0">
            <p class="fs--1 text-uppercase ls font-weight-bold mb-0">Made with<span class="text-danger fas fa-heart mx-1"></span>by
              <a class="text-600" href="https://themewagon.com/">Themewagon</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Cookie Notice-->
    <div class="toast bg-dark text-white shadow-none notice" id="cookie-notice" role="alert" data-options='{"autoShow":false,"autoShowDelay":5000,"showOnce":true,"cookieExpireTime":7200000}' data-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="toast-body p-4">
        <button class="close text-white text-shadow-none position-absolute t-0 r-0 p-2 mr-1 fs-1" type="button" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="media">
          <img class="mr-3" src="{{url_for('static', filename='assets/img/icons/cookie-notice.png') }}" width="50" alt="" />
          <div class="media-body">
            <p class="fs-0 ls text-sans-serif">Our site uses cookies. By continuing to use our site, you agree to our
              <a class="text-white text-underline" href="{{url_for('static', filename='components/sparrow/cookie-notice.html') }}">Cookie Policy.</a>
            </p>
            <button class="btn btn-outline-light btn-sm text-uppercase border-700" type="button" data-dismiss="toast" aria-label="Close">Ok, I understand</button>
          </div>
        </div>
      </div>
    </div>
    <!--===============================================-->
    <!--    Modal for language selection-->
    <!--===============================================-->
    <!-- Modal-->
    <!--<div class="modal fade fade-in" id="languageModal" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog modal-dialog-centered modal-xs mx-auto" role="document">-->
        <!--<div class="modal-content bg-black">-->
          <!--<div class="modal-body text-center p-0">-->
            <!--<button class="close text-white position-absolute t-0 r-0 times-icon mt-2 mr-2 p-2" type="button" data-dismiss="modal" aria-label="Close"></button>-->
            <!--<ul class="list-unstyled pl-0 my-0 py-4 text-sans-serif">-->
              <!--<li>-->
                <!--<a class="text-white font-weight-bold pt-1 d-block" href="home-default.html">English</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="pt-1 d-block text-500" href="#">Français</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="text-500 pt-1 d-block" href="page-rtl.html">عربى</a>-->
              <!--</li>-->
              <!--<li>-->
                <!--<a class="pt-1 d-block text-500" href="#">Deutsche</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
  {% block javascript %} {%endblock%}
  </body>

</html>