{%- extends "base.html" %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block css %}
<link href="{{url_for('static', filename='assets/lib/loaders.css/loaders.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
<link href="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/css/theme.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
    {%- endif %}
    {%- endwith %}
<main class="main min-vh-100" id="top">

      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div class="preloader" id="preloader">
        <div class="loader">
          <div class="line-scale-pulse-out-rapid">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden bg-white" data-zanim-timeline='{"delay":0.4}' data-zanim-trigger="scroll">
        <div class="container-fluid">
          <div class="devices-wrapper">
            <div class="macbook-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3" src="{{url_for('static', filename='assets/img/showcase/macbook-1.jpg') }}" alt="">
            </div>
            <div class="ipad--l-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3.8" src="{{url_for('static', filename='assets/img/showcase/ipad--l-1.jpg') }}" alt="">
            </div>
            <div class="iphone-1" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="4.8" src="{{url_for('static', filename='assets/img/showcase/iphone-1.jpg') }}" alt="">
            </div>
            <div class="ipad--l-2" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3.4" src="{{url_for('static', filename='assets/img/showcase/ipad--l-2.jpg') }}" alt="">
            </div>
            <div class="iphone-2" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="4" src="{{url_for('static', filename='assets/img/showcase/iphone-2.jpg') }}" alt="">
            </div>
            <div class="macbook-2" data-zanim-xs='{"delay":0.4,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="5" src="{{url_for('static', filename='assets/img/showcase/macbook-2.jpg') }}" alt="">
            </div>
            <div class="ipad--l-3" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3.7" src="{{url_for('static', filename='assets/img/showcase/ipad--l-3.jpg') }}" alt="">
            </div>
            <div class="ipad--p-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="4.8" src="{{url_for('static', filename='assets/img/showcase/ipad--p-1.jpg') }}" alt="">
            </div>
            <div class="iphone-3" data-zanim-xs='{"delay":0.3,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3" src="{{url_for('static', filename='assets/img/showcase/iphone-3.jpg') }}" alt="">
            </div>
            <div class="iphone-4" data-zanim-xs='{"delay":0.2,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="3" src="{{url_for('static', filename='assets/img/showcase/iphone-2.jpg') }}" alt="">
            </div>
            <div class="iphone--l-1" data-zanim-xs='{"delay":0.5,"animation":"slide-left","duration":1.5}'>
              <img class="device parallax" data-rellax-speed="2" src="{{url_for('static', filename='assets/img/showcase/iphone--l-1.jpg') }}" alt="">
            </div>
          </div>
          <div class="row py-8 min-vh-100 align-items-center">
            <div class="col-md-auto px-md-4 pl-md-8">
              <h1 class="display-4 fs-2 fs-sm-4 fs-md-5"><span class="overflow-hidden d-inline-block"><span class="d-inline-block" data-zanim-xs='{"delay":1}'>look like an <span class="text-serif font-italic font-weight-normal">expert</span></span>
                </span>
                <br><span class="overflow-hidden d-inline-block pb-2"><span class="d-inline-block" data-zanim-xs='{"delay":1.1}'>right from the start</span></span>
              </h1>
              <div class="overflow-hidden">
                <p class="mt-3 mt-sm-4 text-sans-serif lead" data-zanim-xs='{"delay":1.2}'>Head start your stylish website with a gorgeous template</p>
              </div>
              <div class="mt-3 mt-sm-5">
                <a class="btn btn-dark btn-sm mr-2 my-2" href="#demoes" data-offset="60" data-zanim-xs='{"delay":1.3}'>Explore Demos</a>
                <a class="btn btn-outline-dark btn-sm my-2" href="https://themes.getbootstrap.com/product/sparrow-simple-seamless-alive/" target="_blank" data-zanim-xs='{"delay":1.3}'>Purchase Sparrow &xrarr;</a>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="text-sans-serif text-center py-6 py-xl-9 bg-dark">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <div class="fs-2 text-500">Turn your project from
                <h3 class="d-inline-block font-weight-bold text-white">mediocre to remarkable</h3> — a design that is simple, seamless and alive! With Sparrow, your outstanding website is just one step away. Create with it what you will.</div>
              <hr class="hr-short border-500 mt-6">
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-4 pt-0 bg-dark" id="demoes">
        <div class="container-fluid">
          <div class="col-12 sortable" data-options="{}">
            <div class="row sortable-container">
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-default.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">default</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-default.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-bigcartel.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">bigcartel</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-bigcartel.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-cafe.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">cafe</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-cafe.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-bicycle.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">bicycle</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-bicycle.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-digital.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">digital</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-digital.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-ecommerce.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">ecommerce</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-ecommerce.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-event.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">event</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-event.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-interior.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">interior</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-interior.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-landing.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">landing</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-landing.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-promotion.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">promotion</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-promotion.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-software.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">software</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-software.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="home-studio.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">studio</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/home-studio.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-404.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">404</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-404.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-about.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">about</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-about.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-blog.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">blog</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-blog.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-cart.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">cart</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-cart.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-casestudy.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">casestudy</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-casestudy.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-coming-soon.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">coming-soon</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-coming-soon.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-contact.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">contact</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-contact.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-split-static.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">split-static</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-split-static.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-split-youtube.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">split-youtube</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-split-youtube.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-portfolio.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">portfolio</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-portfolio.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-profile.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">profile</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-profile.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-rtl.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">rtl</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-rtl.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-services.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">services</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-services.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-shop.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">shop</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-shop.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-signin.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">signin</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-signin.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-signup.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">signup</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-signup.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-blog-single.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">blog-single</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-blog-single.jpg" alt="">
                </a>
              </div>
              <div class="col-lg-4 col-md-6 sortable-item mb-4">
                <a href="page-product-single.html" target="_blank">
                  <h6 class="fs-0 mb-3 text-center text-white text-capitalize">product-single</h6>
                  <img class="img-fluid rounded" src="assets/img/screenshots/page-product-single.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->



      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 px-5 py-3">
              <hr class="border-danger ml-0" data-zanim-xs='{"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll">
              <h2 class="font-weight-normal">GPU enhanced animation for life-like experiences</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="border-danger ml-0" data-zanim-xs='{"delay":0.2,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll">
              <h2 class="font-weight-normal">All the power of Bootstrap 4 core &amp; popular plugins</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="border-danger ml-0" data-zanim-xs='{"delay":0.4,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll">
              <h2 class="font-weight-normal">Works from IE 11 to Safari &amp; everything in between</h2>
            </div>
            <div class="col-lg-6 px-5 py-3">
              <hr class="border-danger ml-0" data-zanim-xs='{"delay":0.6,"from":{"width":0},"to":{"width":"100%"}}' data-zanim-trigger="scroll">
              <h2 class="font-weight-normal">More extendable, customizable &amp; hackable</h2>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-xl-8 py-8">
              <hr class="hr-short border-500 mb-6">
              <p class="text-sans-serif lead text-dark">Discover all the possibilities you can create with Sparrow</p>
              <a class="btn btn-danger mt-3" href="#">Purchase now</a>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

    </main>
{% endblock %}

{% block javascript %}
    <script src="{{url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/loaders.css/loaders.css.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/stickyfill.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/is_js/is.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/jtap/jquery.tap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/rellax.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/isotope-packery/packery-mode.pkgd.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js') }}"></script>
{% endblock %}
