{%- extends "base.html" %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block css %}
<link href="{{url_for('static', filename='assets/lib/loaders.css/loaders.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
<link href="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/css/theme.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
    {%- endif %}
    {%- endwith %}
<main class="main min-vh-100" id="top">
  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" id="page-signin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="sticky-top vh-lg-100 py-9">
            <div class="bg-holder" style="background-image:url({{url_for('static', filename='assets/img/signin.jpg') }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'></div>
            <!--/.bg-holder-->
          </div>
        </div>
        <div class="col-lg-6 bg-white py-6">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
              <h3 class="display-4 fs-2">Perfect for Startups,
                <br/>freelancers &amp; companies.</h3>
              <h6 class="text-danger mt-3">Specially crafted for the people who care about design.</h6>
              <form class="mt-5" method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                  {{form.user(class='form-control border-200 bg-light', placeholder='Email')}}
                  {% if form.user.errors %}
                    {% for error in form.user.errors %}
                      <label class="alert-danger">{{ error }}</label>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{form.password(class='form-control border-300 bg-light', placeholder='Password')}}
                  {% if form.password.errors %}
                    {% for error in form.password.errors %}
                      <label class="alert-danger">{{ error }}</label>
                    {% endfor %}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{form.submit(class="btn btn-dark btn-block mt-3")}}
                </div>
                <!--<div class="w-100 position-relative text-center mt-4">-->
                  <!--<hr class="text-300" />-->
                  <!--<div class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs&#45;&#45;1 text-500">or sign-in with</div>-->
                <!--</div>-->
                <!--<div class="form-group mb-0">-->
                  <!--<div class="row no-gutters">-->
                    <!--<div class="col-6 pr-1">-->
                      <!--<a class="btn btn-outline-danger btn-sm btn-block mt-2" href="#"><span class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span> google</a>-->
                    <!--</div>-->
                    <!--<div class="col-6 pl-1">-->
                      <!--<a class="btn btn-outline-primary btn-sm btn-block mt-2" href="#"><span class="fab fa-facebook mr-2" data-fa-transform="grow-8"></span> facebook</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              </form>
                <div class="mt-5">
                    <p>If you don't have an account you can <a href="{{url_for('register')}}">register here.</a></p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->
</main>
{% endblock %}

{% block javascript %}
    <script src="{{url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/loaders.css/loaders.css.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/stickyfill.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/is_js/is.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/jtap/jquery.tap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/rellax.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js') }}"></script>
{% endblock %}