{%- extends "base.html" %}
{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block css %}
<link href="{{url_for('static', filename='assets/lib/loaders.css/loaders.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
<link href="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/css/theme.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
    {%- endif %}
    {%- endwith %}
<main class="main min-vh-100" id="top">

  <!-- ============================================-->
  <!-- Preloader ==================================-->
  <div class="preloader" id="preloader">
    <div class="loader">
      <div class="line-scale-pulse-out-rapid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- ============================================-->
  <!-- End of Preloader ===========================-->

  <!-- ============================================-->
  <!-- <section> begin ============================-->
  <section class="py-0" id="page-signup">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="sticky-top vh-lg-100 py-9">
            <div class="bg-holder" style="background-image:url({{url_for('static', filename='assets/img/signup.jpg') }});" data-zanim-trigger="scroll" data-zanim-lg='{"animation":"zoom-out-slide-right","delay":0.4}'></div>
            <!--/.bg-holder-->
          </div>
        </div>
        <div class="col-lg-6 bg-white py-6">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-10 col-xl-8" data-zanim-xs='{"delay":0.5,"animation":"slide-right"}' data-zanim-trigger="scroll">
              <h3 class="display-4 fs-2">Lazerhawk Tools,
                <br/>release your creativity</h3>
              <h6 class="text-danger mt-3">Specially crafted for content creators.</h6>
              <form class="mt-5" method="POST">
                {{form.hidden_tag()}}
                <div class="row mb-4">
                  <div class="col">
                    {{form.name(class="form-control border-300 bg-light", placeholder="Name") }}
                    {% if form.name.errors %}
                      {% for error in form.name.errors %}
                        <label class="alert-danger">{{ error }}</label>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    {{form.email(class="form-control border-300 bg-light", placeholder="Email Address") }}
                    {% if form.email.errors %}
                      {% for error in form.email.errors %}
                        <label class="alert-danger">{{ error }}</label>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    {{form.password(class="form-control border-300 bg-light", placeholder="Password") }}
                    {% if form.password.errors %}
                      {% for error in form.password.errors %}
                        <label class="alert-danger">{{ error }}</label>
                      {% endfor %}
                    {% endif %}
                  </div>
                  <div class="col">
                    {{form.confirm_password(class="form-control border-300 bg-light", placeholder="Confirmation") }}
                    {% if form.confirm_password.errors %}
                      {% for error in form.confirm_password.errors %}
                        <label class="alert-danger">{{ error }}</label>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
                <div class="row mb-4 align-items-center">
                  <div class="col">
                    {{form.submit(class="btn btn-dark btn-block") }}
                  </div>
                  <!--<div class="col-sm">-->
                    <!--<p class="fs&#45;&#45;1 text-700 mb-0 text-sans-serif mt-2 mt-lg-0">By signing up, you agree to the-->
                      <!--<a class="text-black" href="#">terms and conditions.</a>-->
                    <!--</p>-->
                  <!--</div>-->
                </div>
              </form>
              <div class="row mb-4 align-items-center">
                  <div class="col">
                    <p>Already have an account? <a href="{{url_for('login')}}">Log into your account.</a></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  <!-- <section> close ============================-->
  <!-- ============================================-->

</main>
{% endblock %}

{% block javascript %}
    <script src="{{url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/bootstrap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/plugins.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/loaders.css/loaders.css.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/stickyfill.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/is_js/is.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/jtap/jquery.tap.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/rellax.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/lib/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js') }}"></script>
{% endblock %}
